<!DOCTYPE HTML>
@using BanMayTinh.Models;
@using System.Collections.Generic;
@using System.Web.Mvc;
@using System.Linq;
@using System.Data.Entity;
@using BanMayTinh.Models.DB;
@using System.Web;
@using System;
<html>
<head>
    <title>Máy tính xách tay | Laptop77</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/form.css" rel="stylesheet" type="text/css" media="all" />

    <link href="~/Content/css/giohang.css" rel="stylesheet" type="text/css" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });

            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
    <!-- start menu -->
    <link href="~/Content/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <!-- end menu -->
    <script type="text/javascript" src="~/Content/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
        $(function () {
            $('.scroll-pane').jScrollPane();
        });
    </script>
    <!----details-product-slider--->
    <!-- Include the Etalage files -->
    <link rel="stylesheet" href="~/Content/css/etalage.css">
    <script src="~/Content/js/jquery.etalage.min.js"></script>
    <!-- Include the Etalage files -->
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,

                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });
            // This is for the dropdown list example:
            $('.dropdownlist').change(function () {
                etalage_show($(this).find('option:selected').attr('class'));
            });

        });
    </script>
    <!----//details-product-slider--->
    <!-- top scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
    </script>
</head>
<body>

    <div class="header-top">
        <div class="wrap">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/laptop/logo.png" alt="" /></a>
            </div>
            <div class="cssmenu">
                <ul>
                    @*@if (Session["LogIn"] != null)
                        {
                            <li><a href="@Url.Action("GioHang", "Cart")">Giỏ hàng</a></li>

                        }
                        else
                        {
                            <li><a href="/Product/Shop">Cửa hàng</a></li>
                        }*@
                    @{
                        DBContext dbContext = new DBContext();
                        TaiKhoan dangnhap = (TaiKhoan)Session["LogIn"];
                        if (dangnhap != null && dangnhap.Quyen == 1)
                        {
                            <li class="active"><a href="@Url.Action("Index", "Admin")">Quản lý cửa hàng</a></li>
                        }
                    }


                    <li><a href="@Url.Action("GioHang", "Cart")">Giỏ hàng</a></li>
                    <li><a href="@Url.Action("DSDonHang", "DonHang")">Đơn Hàng</a></li>
                    @if (Session["LogIn"] != null)
                    {
                        <li class="active"><a href="@Url.Action("DangXuat", "Home")">Đăng xuất</a></li>
                    }
                    else
                    {
                        <li class="active"><a href="@Url.Action("LogIn", "Home")">Đăng nhập</a></li>
                    }

                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>



    <div class="header-bottom">
        <div class="wrap">
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li><a class="color1" href="/Home/Index">Trang chủ</a></li>


                <li class="grid">
                    <a class="color2" href="@Url.Action("List", "Product", new { danhmucId = 1})">MÁY TÍNH</a>
                </li>

                <li>
                    <a class="color7" href="@Url.Action("List", "Product", new { danhmucId = 2})">Linh Kiện</a>
                </li>

                <li>
                    <a class="color8" href="@Url.Action("List", "Product", new { danhmucId = 3})">Màn hình</a>
                </li>

                @*<li><a class="color10" href="#">Cơ sở bán hàng </a></li>
                    <li><a class="color11" href="#">Liên hệ</a></li>*@

            </ul>
            <div class="clear"></div>
        </div>
    </div>


    @RenderBody();


    <div class="footer">
        <div class="footer-top">
            <div class="wrap">
                <div class="col_1_of_footer-top span_1_of_footer-top">
                    <ul class="f_list">
                        <li><img src="~/Content/images/f_icon.png" alt="" /><span class="delivery">Miễn phí vận chuyển cho đơn hàng từ 1.000.000vnđ</span></li>
                    </ul>
                </div>
                <div class="col_1_of_footer-top span_1_of_footer-top">
                    <ul class="f_list">
                        <li><img src="~/Content/images/f_icon1.png" alt="" /><span class="delivery">Chăm sóc khách hàng :<span class="orange"> 0123456789( miễn phí )</span></span></li>
                    </ul>
                </div>
                <div class="col_1_of_footer-top span_1_of_footer-top">
                    <ul class="f_list">
                        <li><img src="~/Content/images/f_icon2.png" alt="" /><span class="delivery">Được nhận xét là cửa hàng uy tín, chất lượng</span></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        @*<div class="footer-middle">
                <div class="wrap">
                    <div class="section group">
                        <div class="col_1_of_middle span_1_of_middle">
                            <dl id="sample" class="dropdown">
                                <dt><a><span>Chọn quốc gia của bạn</span></a></dt>
                                <dd>
                                    <ul>
                                        <li><a>Australia<img class="flag" src="~/Content/images/as.png" alt="" /><span class="value">AS</span></a></li>
                                        <li><a>Sri Lanka<img class="flag" src="~/Content/images/srl.png" alt="" /><span class="value">SL</span></a></li>
                                        <li><a>Newziland<img class="flag" src="~/Content/images/nz.png" alt="" /><span class="value">NZ</span></a></li>
                                        <li><a>Pakistan<img class="flag" src="~/Content/images/pk.png" alt="" /><span class="value">Pk</span></a></li>
                                        <li><a>United Kingdom<img class="flag" src="~/Content/images/uk.png" alt="" /><span class="value">UK</span></a></li>
                                        <li><a>United States<img class="flag" src="~/Content/images/us.png" alt="" /><span class="value">US</span></a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="col_1_of_middle span_1_of_middle">
                            <ul class="f_list1">
                                <li>
                                    <span class="m_8">Đăng ký và nhận khuyến mãi 15%</span>
                                    <div class="search">
                                        <input type="text" name="s" class="textbox" value="Tìm Kiếm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tìm Kiếm';}">
                                        <input type="submit" value="Subscribe" id="submit" name="submit">
                                        <div id="response"> </div>
                                    </div><div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>*@
        <div class="footer-bottom">
            <div class="wrap">
                <div class="section group">
                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">Máy Tính Theo Nhu Cầu</h3>
                        <ul class="sub_list">
                            <li>
                                <a href="@Url.Action("List", "Product", new { danhmucId = 1, loaisanphamId = 9})" style="color: #555;">
                                    Máy Tính Văn Phòng
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("List", "Product", new { danhmucId = 1, loaisanphamId = 10})" style="color: #555;">
                                    Máy Tính Chơi game
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("List", "Product", new { danhmucId = 1, loaisanphamId = 14})" style="color: #555;">
                                    Laptop
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">Linh kiện</h3>
                        <ul class="list1">
                            <li>
                                <a href="@Url.Action("List", "Product", new { danhmucId = 2, loaisanphamId = 1})" style="color: #555;">
                                    CPU-Bộ Vi Xử Lý
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("List", "Product", new { danhmucId = 2, loaisanphamId = 2})" style="color: #555;">
                                    RAM
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("List", "Product", new { danhmucId = 2, loaisanphamId = 3})" style="color: #555;">
                                    Ổ cứng HDD
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("List", "Product", new { danhmucId = 2, loaisanphamId = 4})" style="color: #555;">
                                    Ổ cứng SSD
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">Màn hình</h3>
                        <ul class="list1">
                            <li>
                                <a href="@Url.Action("List", "Product", new { danhmucId = 3})" style="color: #555;">
                                    Màn hình máy tính
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">Hỗ trợ - dịch vụ</h3>
                        <ul class="list1">
                            <li><a href="@Url.Action("DSDonHang", "DonHang")">Tra cứu đơn hàng</a></li>
                            @*<li><a href="shop.html">Mua hàng trả góp</a></li>
                                <li><a href="shop.html">Hướng dẫn đặt hàng và thanh toán</a></li>
                                <li><a href="shop.html">Chính sách bảo hành</a></li>
                                <li><a href="shop.html">Chính sách giải quyết khiếu nại</a></li>
                                <li><a href="shop.html">Tra cứu đơn hàng</a></li>
                                <li><a href="shop.html">Vị trí trên Google Map</a></li>
                                <li><a href="shop.html">Voucher</a></li>
                                <li><a href="shop.html">Câu hỏi thường gặp</a></li>*@
                        </ul>
                    </div>
                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">Thông tin liên hệ</h3>
                        <ul class="list1">
                            <li><a href="@Url.Action("Laptop77", "Home")">Về Laptop77</a></li>
                            @*<li><a href="shop.html">Chăm sóc khách hàng</a></li>
                                <li><a href="shop.html">Hỗ trợ kỹ thuật</a></li>
                                <li><a href="shop.html">Hỗ trợ bảo hành & sửa chữa</a></li>*@
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="wrap">

            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };

            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>

