@model IEnumerable<BanMayTinh.Models.DB.LoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="card">
    <div class="card-header">
        <div class="row" style="padding-bottom: 30px">
            <div class="col-md-10">
                <strong class="text-uppercase text-danger" style="font-size: x-large">Danh sách loại sản phẩm</strong>
            </div>
            <div class="col-md-1">
                <a href="@Url.Action("Create", "LoaiSanPham")" class=" btn btn-success">Thêm Loại Sản Phẩm</a>
            </div>
        </div>
    </div>
    <div class="card-body" style="padding-right: 20px">
        <table class="table table-bordered table-hover">
            <thead>
                <tr style="background: #faf51a">
                    <th style="width: 50px" class="text-center">ID</th>
                    <th>Tên Loại Sản Phẩm</th>
                    <th style="width: 180px">Thuộc tính 1</th>
                    <th style="width: 180px">Thuộc tính 2</th>
                    <th style="width: 180px">Thuộc tính 3</th>
                    <th style="width: 150px">Thuộc tính 4</th>
                    <th style="width: 150px">Thuộc tính 5</th>
                    <th style="padding-right: 10px">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @item.Id
                        </td>
                        <td>@item.TenLoaiSanPham</td>
                        <td>@item.ThuocTinh1</td>
                        <td>@item.ThuocTinh2</td>
                        <td>@item.ThuocTinh3</td>
                        <td>@item.ThuocTinh4</td>
                        <td>@item.ThuocTinh5</td>
                        <td>
                            <a href="@Url.Action("Details", "LoaiSanPham", new {@id = item.Id})">Xem</a>
                            <a class="text-warning" href="@Url.Action("Edit", "LoaiSanPham", new {@id = item.Id})">Sửa</a>
                            <a class="text-danger" href="@Url.Action("Delete", "LoaiSanPham", new {@id = item.Id})">Xóa</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
