@model BanMayTinh.Models.DB.DonDatHang
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết đơn đặt hàng</h2>

<div>
    <h4>Đơn hàng @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <dl class="dl-horizontal">

        <div class="attr-row">
            <div class="attribute-name">Tên khách hàng</div>
            <div class="attribute-value">@Html.DisplayFor(model => model.UserNameKH)</div>
        </div>

        <div class="attr-row">
            <div class="attribute-name">Số điện thoại người nhận</div>
            <div class="attribute-value">@Html.DisplayFor(model => model.SoDienThoaiNguoiNhan)</div>
        </div>

        <div class="attr-row">
            <div class="attribute-name">Ngày Đặt</div>
            <div class="attribute-value">@Html.DisplayFor(model => model.NgayDat)</div>
        </div>

        <div class="attr-row">
            <div class="attribute-name">Ngày Giao</div>
            <div class="attribute-value">@Html.DisplayFor(model => model.NgayGiao)</div>
        </div>

        <div class="attr-row">
            <div class="attribute-name">Tên người nhận</div>
            <div class="attribute-value">@Html.DisplayFor(model => model.TenNguoiNhan)</div>
        </div>

        @if (Model.YeuCau != null && Model.YeuCau != "")
        {
            <div class="attr-row">
                <div class="attribute-name">Yêu cầu</div>
                <div class="attribute-value">@Html.DisplayFor(model => model.YeuCau)</div>
            </div>
        }

        <br>
        <h1>Danh sách sản phẩm</h1>
        @* <h2>SAN PHAM: @{ViewBag.ListSanPham}</h2> *@
        @{var dsSanPham = ViewBag.ListSanPham;}
        @foreach (var sp in dsSanPham) {
            <div class="attr-row">
                <div class="attribute-name">Sản phẩm</div>
                <div class="attribute-value">@sp.TenSanPham</div>
            </div>
            <div class="attr-row">
                <div class="attribute-value">Mã: @sp.Id</div>
                <div class="attribute-value">
                    <div class="grid_img">
                        <div class="css3"><img style="max-height: 150px; max-width: 150px "
                            src="~/Content/images/AnhSanPham/@sp.AnhSanPham" alt="" /></div>
                    </div>
                </div>
            </div>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
