@using BanMayTinh.Models.DB

@model BanMayTinh.Models.DB.DonDatHang

@{
    ViewBag.Title = "CTDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    function showChangeInfo() {
        let popupInfo = document.querySelector(".info-dh-enter");
        if (popupInfo) {
            popupInfo.classList.remove("hide-item");
        }
        let popupInfoView = document.querySelector(".info-dh-view");
        if (popupInfoView) {
            popupInfoView.classList.add("hide-item");
        }
    }

    function cancelInfo() {
        let popupInfo = document.querySelector(".info-dh-enter");
        if (popupInfo) {
            popupInfo.classList.add("hide-item");
        }
        let popupInfoView = document.querySelector(".info-dh-view");
        if (popupInfoView) {
            popupInfoView.classList.remove("hide-item");
        }
    }
</script>
<style>
    .hide-item {
        display: none;
    }
    /*    .container-don-hang {
        display: flex;
    }*/

    .nội-dung-giỏ-hàng {
        margin-bottom: 20px;
    }

    .right-info-dh {
        border: 1px solid #c7c7c7;
        margin-bottom: 20px;
        padding: 12px;
    }

    .right-info-dh2 {
        margin-bottom: 20px;
        padding: 12px;
    }

    .right-info-dh .item-info {
        display: flex;
        margin-bottom: 10px;
    }


        .right-info-dh .item-info .label-info {
            font-weight: bold;
        }

        .right-info-dh .item-info .value-info {
            padding-left: 6px;
        }

    .div-end {
        display: flex;
        justify-content: flex-end;
    }
    }
</style>

<div class="login" style="padding-bottom: 0">
    <div class="wrap">

        <div class="tiêu-đề-giỏ-hàng">
            <h4>CHI TIẾT ĐƠN ĐẶT HÀNG</h4>
        </div>

        <div class="tiếp-tục-mua-hàng" style="font-weight: bold;justify-content: normal;">
            <div style="width: 100%; display: inline-flex;">
                Trạng thái đơn hàng:
                @if (Model.TrangThai == 1)
                {
                    <div style="padding-left: 8px; font-weight: normal; color: #FFAF02;">Chờ xác nhận</div>
                }
                else if (Model.TrangThai == 2)
                {
                    <div style="padding-left: 8px; font-weight:normal; color: forestgreen">Đang giao hàng</div>
                }
                else if (Model.TrangThai == 3)
                {
                    <div style="padding-left: 8px; font-weight:normal; color: forestgreen">Đã giao hàng</div>
                }

                else if (Model.TrangThai == 4)
                {
                    <div style="padding-left: 8px; font-weight:normal; color: forestgreen">Giao thành công</div>
                }

                else if (Model.TrangThai == 5)
                {
                    <div style="padding-left: 8px; font-weight:normal; color: red">Giao thất bại</div>
                }
                else if (Model.TrangThai == 6)
                {
                    <div style="padding-left: 8px; font-weight:normal; color: red">Đơn hủy</div>
                }
            </div>

            @if (Model.TrangThai == 1)
            {
                <div class="" style="width: 210px; color: #FFAF02;cursor:pointer;" onclick="showChangeInfo()">
                    Đổi thông tin giao hàng
                </div>
            }
        </div>


        <div class="right-info-dh info-dh-enter hide-item">
            <form action="@Url.Action("ChinhSuaTTDonHang", "Cart")" method="post">
                @{ TaiKhoan dangnhap = (TaiKhoan)Session["LogIn"];}
                <div class="">

                    <input type="hidden" name="NgayDat" id="buyer_name" value="@System.DateTime.Now">
                    <input type="hidden" name="UserNameKH" id="buyer_name" value="@dangnhap.UserName">
                    <input type="hidden" name="Id" id="buyer_mobile" value="@Model.Id">
                    <input type="hidden" name="TrangThai" id="buyer_mobile" value="@Model.TrangThai">

                    <div class="new-cart-bottom">
                        <div class="c3_col_1">
                            <div class="c3_box user_info">
                                <div class="user_info-item">
                                    <span class="txt2">Họ tên*</span>
                                    <input type="text" name="TenNguoiNhan" id="buyer_name" value="@Model.TenNguoiNhan">
                                </div>

                                <div class="user_info-item">
                                    <span class="txt2">Số điện thoại*</span>
                                    <input type="text" name="SoDienThoaiNguoiNhan" id="buyer_mobile" value="@Model.SoDienThoaiNguoiNhan">

                                </div>

                                <div class="user_info-item">
                                    <span class="txt2">Ngày giao</span>
                                    <input type="date" name="NgayGiao" id="buyer_email" value="@Model.NgayGiao">
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="c3_col_1">
                            <div class="c3_box user_info">
                                <div class="user_info-item">
                                    <span class="txt2">Địa chỉ*</span>
                                    <input type="text" name="DiaChi" id="buyer_address" value="@Model.DiaChi">
                                </div>
                                <div class="user_info-item">
                                    <span class="">Ghi chú</span>
                                    <input type="text" name="YeuCau" id="buyer_note" value="@Model.YeuCau">
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hoàn-tất-đơn-hàng" style="display:flex;">
                    <div class="tiếp-tục-thanh-toán">
                        <div onclick="cancelInfo()" class="btn-xac-nhan-dat-hang" style="cursor:pointer; background-color: black; font-weight: bold; font-size: 16px; text-align: center; color: white; padding: 10px; width:100px; margin-left:500px;">Quay lại</div>
                    </div>
                    <div class="tiếp-tục-thanh-toán">
                        <button class="btn-xac-nhan-dat-hang" style="cursor: pointer; background-color: black; font-weight: bold; font-size: 16px; text-align: center; color: white; padding: 6px; width: 80px; margin-left: 50px; ">Lưu</button>
                    </div>
                </div>

            </form>

        </div>

        <div class="right-info-dh info-dh-view">
            <div style="display:flex">
                <div class="item-info" style="width: 98%;">
                    <div class="label-info">Tên người nhận: </div>
                    <div class="value-info">@Model.TenNguoiNhan</div>
                </div>
                <div class="item-info" style="width: 30%;">
                    <div class="label-info">Số điện thoại: </div>
                    <div class="value-info">@Model.SoDienThoaiNguoiNhan</div>
                </div>
            </div>

            <div class="item-info">
                <div class="label-info">Địa chỉ: </div>
                <div class="value-info">@Model.DiaChi</div>
            </div>
        </div>
        <div class="nội-dung-giỏ-hàng">

            @{ double tongTien = 0;}
            @{ double dongiasp = 0;}


            @foreach (var ct in Model.ChiTietDonDatHangs)
            {
                <input type="hidden" value="@( tongTien += (double)ct.DonGia * (int)ct.SoLuong)" />
                <input type="hidden" value="@{ dongiasp = ct.DonGia != null ? (double)ct.DonGia : 0;}" />
                <div class="một-sản-phẩm">

                    <div class="ảnh-sản-phẩm-giỏ-hàng">
                        <a href="/man-hinh-viewsonic-vp2458">
                            <img class="cart-product-img" src="~/Content/images/AnhSanPham/@ct.SanPham.AnhSanPham">
                        </a>
                    </div>

                    <div class="new-cart-items-info" style="width:calc(100% - 200px);">
                        <a href="/man-hinh-viewsonic-vp2458" class="new-cart-items-name">
                            @ct.SanPham.TenSanPham

                        </a>
                        <div style="display:flex;">
                            <div class="new-cart-items-desc" style="width:75%;">
                                <p class="m-0"> <b>Mã sản phẩm: </b>@ct.SanPham.Id</p>
                                <p class="m-0"> <b>Mã sản phẩm: </b>@ct.SanPham.Id</p>
                                <p class="m-0"> <b>Loại sản phẩm: </b>@ct.SanPham.LoaiSanPham.TenLoaiSanPham</p>
                            </div>
                            <div class="new-cart-items-desc" style="width:25%;">
                                <p class="m-0"> <b>Số lượng: </b>@ct.SoLuong</p>
                                <p class="m-0"> <b>Đơn giá: </b> @dongiasp.ToString("N0") VNĐ</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }



            <div class="right-info-dh" style="border:none; padding-bottom:0; padding-right:0;margin:0">
                <div class="item-info div-end">
                    <div class="label-info">Ngày đặt hàng:</div>
                    <div class="value-info">@Model.NgayDat.ToString("dd/MM/yyyy")</div>
                </div>
                <div class="item-info div-end">
                    <div class="label-info">Ngày giao hàng:</div>
                    <div class="value-info">@Model.NgayGiao.ToString("dd/MM/yyyy")</div>
                </div>
                @if (!String.IsNullOrEmpty(@Model.YeuCau))
                {
                    <div class="item-info div-end">
                        <div class="label-info">Ghi chú:</div>
                        <div class="value-info">@Model.YeuCau</div>
                    </div>
                }
                <div class="total-cart" style="padding-right: 0">
                    Tổng tiền đơn hàng :
                    <strong><span id="total_value" class="total-cart-price"> @tongTien.ToString("N0") VNĐ<u></u></span></strong>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</div>

